*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 40%;
    top:20%;
    border: 10px solid white;
    border-radius: 50%;
    z-index: 1;
}

body::after {
    content: " ";
    display: block;
    width: 500px;
    height: 100px;
    position: absolute;
    top:30%;
    left:27%;
    background-color: green;
}